<a href="https://colab.research.google.com/github/ThatiFlowers/Treinamento/blob/main/CRUD_Py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
import sqlite3

def conexao_bd():
    conexao = sqlite3.connect("cafe_porquinho.db")
    return conexao

def create_tables():
    conexao = conexao_bd()
    cursor = conexao.cursor()

    cursor.execute("""
    CREATE TABLE IF NOT EXISTS produtos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        preco REAL NOT NULL,
        categoria TEXT NOT NULL
    )
    """)

    conexao.commit()
    conexao.close()

create_tables()

In [126]:
from os import name
# Criando a classe de produtos/ repositório(domínio)
class produto:
    def __init__(self,nome,preco,categoria):
        self.nome = nome
        self.preco = preco
        self.categoria = categoria

In [127]:
# Create the 'repository' directory if it doesn't exist
!mkdir -p repository

In [128]:
%%writefile repository/produto_repository.py
# Define the produtorepository class here
class produtorepository:
    def __init__(self):
        pass # You will need to add your repository logic here

Overwriting repository/produto_repository.py

In [129]:
%%writefile domain/produto.py
# Criando a classe de produtos
class produto:
    def __init__(self,nome,preco,categoria):
        self.nome = nome
        self.preco = preco
        self.categoria = categoria

Overwriting domain/produto.py

In [130]:
def cadastrar_produto(produto):
    conexao = conexao_bd()
    cursor = conexao.cursor()

    cursor.execute(
        "INSERT INTO produtos (nome, preco, categoria) VALUES (?, ?, ?)",
        (produto.nome, produto.preco, produto.categoria)
    )

    conexao.commit()
    conexao.close()

In [131]:
def limpar_produtos():
    conexao = conexao_bd()
    cursor = conexao.cursor()
    cursor.execute("DELETE FROM produtos")
    conexao.commit()
    conexao.close()

In [132]:
#teste

produto1 = produto("cocavinho",12, "bebida")
produto2 = produto("bolorosa",12.59,"comida")
produto3 = produto("brownie", 11, "comida")
cadastrar_produto(produto1)
cadastrar_produto(produto2)
cadastrar_produto(produto3)

In [133]:
print("Produtos cadastrados:")
for produto_data in listar_produtos():
    # Assuming the order is id, nome, preco, categoria based on your create_tables()
    print(f"ID: {produto_data[0]}, Nome: {produto_data[1]}, Preço: {produto_data[2]}, Categoria: {produto_data[3]}")

Produtos cadastrados:
ID: 1, Nome: cocavinho, Preço: 10.0, Categoria: bebida
ID: 2, Nome: cocavinho, Preço: 10.0, Categoria: bebida
ID: 3, Nome: cocavinho, Preço: 10.0, Categoria: bebida
ID: 4, Nome: cocavinho, Preço: 10.0, Categoria: bebida
ID: 5, Nome: cocavinho, Preço: 10.0, Categoria: bebida
ID: 6, Nome: bolorosa, Preço: 12.59, Categoria: comida
ID: 7, Nome: brownie, Preço: 11.0, Categoria: comida
ID: 8, Nome: cocavinho, Preço: 12.0, Categoria: bebida
ID: 9, Nome: bolorosa, Preço: 12.59, Categoria: comida
ID: 10, Nome: brownie, Preço: 11.0, Categoria: comida
ID: 11, Nome: cocavinho, Preço: 12.0, Categoria: bebida
ID: 12, Nome: bolorosa, Preço: 12.59, Categoria: comida
ID: 13, Nome: brownie, Preço: 11.0, Categoria: comida
ID: 14, Nome: cocavinho, Preço: 12.0, Categoria: bebida
ID: 15, Nome: bolorosa, Preço: 12.59, Categoria: comida
ID: 16, Nome: brownie, Preço: 11.0, Categoria: comida

In [134]:
def listar_produtos():
  conexao = conexao_bd()
  cursor = conexao.cursor()
  cursor.execute("select * from produtos")
  rows = cursor.fetchall()
  conexao.close()
  return rows

In [135]:
for p in listar_produtos():
    print(p[1], p[2], p[3])

cocavinho 10.0 bebida
cocavinho 10.0 bebida
cocavinho 10.0 bebida
cocavinho 10.0 bebida
cocavinho 10.0 bebida
bolorosa 12.59 comida
brownie 11.0 comida
cocavinho 12.0 bebida
bolorosa 12.59 comida
brownie 11.0 comida
cocavinho 12.0 bebida
bolorosa 12.59 comida
brownie 11.0 comida
cocavinho 12.0 bebida
bolorosa 12.59 comida
brownie 11.0 comida

In [138]:
# covertendo em uma lista de produtos
def converter_rows_para_produtos(rows):
    lista_de_produtos = []
    for row in rows:
        # formato: (id, nome, preco, categoria)
        p = produto(row[1], row[2], row[3])
        lista_de_produtos.append(p)
    return lista_de_produtos

def produtos_id(id):
    conexao = conexao_bd()
    cursor = conexao.cursor()

    cursor.execute("select * from produtos where id =?", (id,))
    row = cursor.fetchall()
    conexao.close()
    if row:
        p = produto(row[1], row[2], row[3])
        return p
    return None # Retorna "none" se o produto for encontrado com ID conhecido